#
# Please create your build.properties file from this template file.
#

docbook5.home=${basedir}/../../lib/docbook/docbook5
docbook5.xsl=${basedir}/../../lib/docbook/docbook-xsl
docbook5.xsl.url=file:///C:/var/svn/i18n-zh/trunk/lib/docbook/docbook-xsl

#Your jars put here
# usr.share.java = /usr/share/java
usr.share.java = ${basedir}/../../lib/share/java

# Only for pdf files(fop 0.20.5)
# fop.home=${basedir}/../../lib/fop/0.20.5
# fop.class=org.apache.fop.apps.Fop

# Only for pdf files(fop 0.94+)
fop.home=${basedir}/../../lib/fop/1.x
fop.class=org.apache.fop.cli.Main

#Only for MBCS pdf files
fonts.dir=${basedir}/../../lib/fonts
fonts.metrics.dir=${fop.home}/conf
