#
# Please create your Makefile.vars file from this template file.
#
# Please use absolute path, DO NOT use relative path !
#

FOP_HOME=/home/dongsheng/var/svn/i18n-zh/trunk/lib/fop

JAVA_LIB=/home/dongsheng/var/svn/i18n-zh/trunk/lib/share/java

# Only for ePub format !
DB2EPUB=/home/dongsheng/var/svn/i18n-zh/trunk/lib/docbook/docbook-xsl/epub/bin/dbtoepub
 
# Only for PO based Makefile !
# po4A_HOME=/usr/bin
# PO4A_LIB=/usr/share/perl5
PO4A_HOME=/home/dongsheng/var/svn/i18n-zh/trunk/lib/po4a
PO4A_LIB=$(PO4A_HOME)/lib
