#
# Please create your build.properties file from this template file.
#

docbook-xsl.images.dir=/usr/share/doc/docbook-xsl/doc/images

#You jars put here
# usr.share.java = /usr/share/java
usr.share.java = /home/dongsheng/var/svn/i18n-zh/trunk/lib/share/java

# Only for pdf files(xep)
xep.home=${basedir}/../../lib/xep

# Only for pdf files(fop 0.94+)
fop.home=/home/dongsheng/var/svn/i18n-zh/trunk/lib/fop
fop.class=org.apache.fop.cli.Main
