#
# Please create your build.properties file from this template file.
#

docbook5.home=C:/wc/svn/i18n-zh/trunk/lib/docbook/docbook5
docbook5.xsl=C:/wc/svn/i18n-zh/trunk/lib/docbook/docbook5-xsl
docbook5.xsl.url=file:///C:/wc/svn/i18n-zh/trunk/lib/docbook/docbook5-xsl

# Your jars put here
# usr.share.java = /usr/share/java
usr.share.java = C:/wc/svn/i18n-zh/trunk/lib/share/java

# Only for pdf files(fop 0.20.5)
# fop.home=C:/wc/svn/i18n-zh/trunk/lib/fop/0.20.5
# fop.class=org.apache.fop.apps.Fop

# Only for pdf files(fop 0.95+)
fop.home=C:/wc/svn/i18n-zh/trunk/lib/fop/1.x
fop.class=org.apache.fop.cli.Main

#Only for MBCS pdf files
fonts.dir=C:/wc/svn/i18n-zh/trunk/lib/fonts
fonts.metrics.dir=${fop.home}/conf
