<?xml version="1.0" encoding="utf-8"?>

<!-- ======================================================= -->
<!-- RenderX XEP Configuration                               -->
<!-- ======================================================= -->

<config xmlns="http://www.renderx.com/XEP/config">

  <!-- ======================================================= -->
  <!-- Formatter options                                       -->
  <!-- ======================================================= -->
  <options>
    <option name="LICENSE" value="license.xml"/>
    <option name="TMPDIR" value="none"/>
    <option name="BROKENIMAGE" value="images/404.gif"/>
    <option name="LOGO" value="images/logo-renderx.svg"/>

    <!-- Backend options -->
    <generator-options format="PDF">
      <!--option name="PDF_VERSION" value="1.4"/-->
      <!--option name="LINEARIZE" value="true"/-->
      <option name="COMPRESS" value="true"/>
      <option name="VIEW_MODE" value="show-bookmarks"/>
      <option name="INITIAL_ZOOM" value="fit-height"/>
    </generator-options>

    <generator-options format="PostScript">
      <!-- <option name="LANGUAGE_LEVEL" value="2"/> -->
      <!-- <option name="CLONE_EPS" value="true"/> -->
    </generator-options>

    <generator-options format="SVG">
      <option name="DPI" value="96"/>
      <!-- <option name="EMBED_IMAGES" value="true"/> -->
    </generator-options>
  </options>

  <!-- ======================================================= -->
  <!-- Fonts                                                   -->
  <!-- ======================================================= -->
  <fonts xmlns="http://www.renderx.com/XEP/config"
         xml:base="fonts/"
         default-family="Helvetica">

    <!-- Base Adobe fonts. -->
    <font-group label="Base 14" embed="false">
      <font-family name="Courier">
        <font><font-data afm="Courier.afm"/></font>
        <font style="oblique"><font-data afm="Courier-Oblique.afm"/></font>
        <font weight="bold"><font-data afm="Courier-Bold.afm"/></font>
        <font weight="bold" style="oblique"><font-data afm="Courier-BoldOblique.afm"/></font>
      </font-family>

      <font-family name="Helvetica">
        <font><font-data afm="Helvetica.afm"/></font>
        <font style="oblique"><font-data afm="Helvetica-Oblique.afm"/></font>
        <font weight="bold"><font-data afm="Helvetica-Bold.afm"/></font>
        <font weight="bold" style="oblique"><font-data afm="Helvetica-BoldOblique.afm"/></font>
      </font-family>

      <font-family name="Times" ligatures="&#xFB01; &#xFB02;">
        <font><font-data afm="Times-Roman.afm"/></font>
        <font style="italic"><font-data afm="Times-Italic.afm"/></font>
        <font weight="bold"><font-data afm="Times-Bold.afm"/></font>
        <font weight="bold" style="italic"><font-data afm="Times-BoldItalic.afm"/></font>
      </font-family>

      <font-family name="Symbol">
        <font><font-data afm="Symbol.afm"/></font>
      </font-family>

      <font-family name="ZapfDingbats">
        <font><font-data afm="ZapfDingbats.afm"/></font>
      </font-family>
    </font-group>

    <!-- Configuration for Windows OpenType fonts.  -->
    <font-group xml:base="file:/C:/Windows/Fonts/" label="Windows OpenType" embed="true" subset="true">
      <font-family name="Arial">
        <font><font-data ttf="arial.ttf"/></font>
        <font style="oblique"><font-data ttf="ariali.ttf"/></font>
        <font weight="bold"><font-data ttf="arialbd.ttf"/></font>
        <font weight="bold" style="oblique"><font-data ttf="arialbi.ttf"/></font>
      </font-family>

      <font-family name="Times New Roman" ligatures="&#xFB01; &#xFB02;">
        <font><font-data ttf="times.ttf"/></font>
        <font style="italic"><font-data ttf="timesi.ttf"/></font>
        <font weight="bold"><font-data ttf="timesbd.ttf"/></font>
        <font weight="bold" style="italic"><font-data ttf="timesbi.ttf"/></font>
      </font-family>

      <font-family name="Courier New">
        <font><font-data ttf="cour.ttf"/></font>
        <font style="oblique"><font-data ttf="couri.ttf"/></font>
        <font weight="bold"><font-data ttf="courbd.ttf"/></font>
        <font weight="bold" style="oblique"><font-data ttf="courbi.ttf"/></font>
      </font-family>

      <font-family name="Verdana">
        <font><font-data ttf="verdana.ttf"/></font>
        <font style="oblique"><font-data ttf="verdanai.ttf"/></font>
        <font weight="bold"><font-data ttf="verdanab.ttf"/></font>
        <font weight="bold" style="oblique"><font-data ttf="verdanaz.ttf"/></font>
      </font-family>

      <font-family name="Georgia">
        <font><font-data ttf="georgia.ttf"/></font>
        <font weight="bold"><font-data ttf=">georgiab.ttf"/></font>
        <font style="oblique"><font-data ttf="georgiai.ttf"/></font>
        <font weight="bold" style="oblique"><font-data ttf="georgiaz.ttf"/></font>
      </font-family>

      <font-family name="Cambria">
        <font><font-data ttc="cambria.ttc" subfont="1"/></font>
        <font style="oblique"><font-data ttf="cambriai.ttf"/></font>
        <font weight="bold"><font-data ttf="cambriab.ttf"/></font>
        <font weight="bold" style="oblique"><font-data ttf="cambriaz.ttf"/></font>
      </font-family>

      <font-family name="Cambria Math">
        <font><font-data ttc="cambria.ttc" subfont="2"/></font>
      </font-family>

      <font-family name="Calibri">
        <font><font-data ttf="calibri.ttf"/></font>
        <font style="oblique"><font-data ttf="calibrii.ttf"/></font>
        <font weight="bold"><font-data ttf="calibrib.ttf"/></font>
        <font weight="bold" style="oblique"><font-data ttf="calibriz.ttf"/></font>
      </font-family>

      <font-family name="FangSong">
        <font><font-data ttf="simfang.ttf"/></font>
      </font-family>

      <font-family name="SimHei">
        <font><font-data ttf="simhei.ttf"/></font>
      </font-family>

      <font-family name="SimSun">
        <font><font-data ttc="simsun.ttc" subfont="1"/></font>
      </font-family>

      <font-family name="FZBoYaSong">
        <font><font-data ttf="fzbys.ttf"/></font>
      </font-family>

      <font-family name="FZCuYaSong">
        <font><font-data ttf="fzcys.ttf"/></font>
      </font-family>

      <font-family name="FZFangSong">
        <font><font-data ttf="fzfs.ttf"/></font>
      </font-family>

      <font-family name="MyriadPro">
        <font><font-data otf="MyriadPro-Regular.otf"/></font>
        <font style="oblique"><font-data otf="MyriadPro-It.otf"/></font>
        <font weight="bold"><font-data otf="MyriadPro-Bold.otf"/></font>
        <font weight="bold" style="oblique"><font-data otf="MyriadPro-BoldIt.otf"/></font>
      </font-family>

      <font-family name="MinionPro">
        <font><font-data otf="MinionPro-Regular.otf"/></font>
        <font style="oblique"><font-data otf="MinionPro-It.otf"/></font>
        <font weight="bold"><font-data otf="MinionPro-Bold.otf"/></font>
        <font weight="bold" style="oblique"><font-data otf="MinionPro-BoldIt.otf"/></font>
      </font-family>

      <font-family name="CourierStd">
        <font><font-data otf="CourierStd.otf"/></font>
        <font style="oblique"><font-data otf="CourierStd-Oblique.otf"/></font>
        <font weight="bold"><font-data otf="CourierStd-Bold.otf"/></font>
        <font weight="bold" style="oblique"><font-data otf="CourierStd-BoldOblique.otf"/></font>
      </font-family>

      <font-family name="AdobeHeitiStd">
        <font><font-data otf="AdobeHeitiStd-Regular.otf"/></font>
      </font-family>

      <font-family name="AdobeSongStd">
        <font><font-data otf="AdobeSongStd-Light.otf"/></font>
      </font-family>

      <font-family name="AdobeFangsongStd">
        <font><font-data otf="AdobeFangsongStd-Regular.otf"/></font>
      </font-family>
    </font-group>

    <!-- Required aliases -->
    <!--
    <font-alias name="sans-serif" value="MyriadPro,Arial,Calibri,Helvetica,FZCuYaSong,AdobeHeitiStd,SimHei"/>
    <font-alias name="serif" value="MinionPro,Times New Roman,Cambria,Cambria Math,Times,FZBoYaSong,AdobeSongStd,SimSun"/>
    <font-alias name="monospace" value="CourierStd,Courier New,Courier,FZFangSong,AdobeFangsongStd,FangSong"/>
    <font-alias name="cursive" value="MinionPro,Times New Roman,Cambria,Cambria Math,Times,FZBoYaSong,AdobeSongStd,SimSun"/>
    <font-alias name="fantasy" value="MinionPro,Times New Roman,Cambria,Cambria Math,Times,FZBoYaSong,AdobeSongStd,SimSun"/>
    -->
    <font-alias name="sans-serif" value="Arial,FZCuYaSong,Helvetica,SimHei"/>
    <font-alias name="serif" value="Times New Roman,FZBoYaSong,Times,SimSun"/>
    <font-alias name="monospace" value="Courier New,FZFangSong,Courier,FangSong"/>
  </fonts>

  <!-- ======================================================= -->
  <!-- Language-specific data: hyphenation, line breaking, etc -->
  <!-- ======================================================= -->
  <languages default-language="en-US" xml:base="hyphen/">

    <language name="English (US)" codes="none en-US eng-US">
      <hyphenation pattern="hyphen.tex"/>
    </language>

    <language name="English (UK)" codes="en-GB eng-GB en eng">
      <hyphenation pattern="ukhyphen.tex"/>
    </language>

    <language name="Russian" codes="ru rus">
      <hyphenation pattern="ruhyphal.tex" encoding="koi8-r"/>
    </language>

    <language name="French" codes="fr fra fre">
      <hyphenation pattern="frhyph_rx.tex"/>
    </language>

    <language name="German" codes="de deu ger">
      <hyphenation pattern="dehyph_rx.tex"/>
    </language>

    <language name="Spanish" codes="es esl spa">
      <hyphenation pattern="eshyph_rx.tex"/>
    </language>

    <language name="Polish" codes="pl pol">
      <hyphenation pattern="plhyph_rx.tex"/>
    </language>

  </languages>

</config>
