#
# Please create your build.properties file from this template file.
#

docbook-xsl.images.dir=/usr/share/doc/docbook-xsl/doc/images

fop.home=/home/dongsheng/var/svn/i18n-zh/trunk/lib/fop/1.x
fop.class=org.apache.fop.cli.Main

#Only for MBCS pdf files
fonts.dir=/home/dongsheng/var/svn/i18n-zh/trunk/lib/fonts
fonts.metrics.dir=${fop.home}/conf

#You jars put here
# usr.share.java = /usr/share/java
usr.share.java = /home/dongsheng/var/svn/i18n-zh/trunk/lib/share/java
