#
# Please create your build.properties file from this template file.
#

#Your jars put here
# usr.share.java = /usr/share/java
usr.share.java = ${basedir}/../../../lib/share/java

# Only for Windows
sgml.catalog.files=D:/var/svn/i18n-zh/trunk/lib/share/java/catalog.xml

# Only for pdf files(fop 0.95+)
fop.home=${basedir}/../../../lib/fop

# Only for pdf files(xep)
xep.home=${basedir}/../../../lib/xep
