<?xml version="1.0" encoding="UTF-8"?>
<fop version="1.0">

  <!--
    java -cp ..\build\fop.jar;..\lib\xmlgraphics-commons-1.4svn.jar;..\lib\commons-logging-1.1.jar;..\lib\commons-io-1.3.1.jar org.apache.fop.fonts.apps.TTFReader ..\..\..\fonts\simhei.ttf simhei-tmp.xml
    ..\..\..\xmlbeans\bin\xpretty -indent 2 simhei-tmp.xml > simhei.xml

    java -cp ..\build\fop.jar;..\lib\xmlgraphics-commons-1.4svn.jar;..\lib\commons-logging-1.1.jar;..\lib\commons-io-1.3.1.jar org.apache.fop.fonts.apps.TTFReader -ttcname SimSun ..\..\..\fonts\simsun.ttc simsun-tmp.xml
    ..\..\..\xmlbeans\bin\xpretty -indent 2 simsun-tmp.xml > simsun.xml

    java -cp ..\build\fop.jar;..\lib\xmlgraphics-commons-1.4svn.jar;..\lib\commons-logging-1.1.jar;..\lib\commons-io-1.3.1.jar org.apache.fop.fonts.apps.TTFReader ..\..\..\fonts\simfang.ttf simfang-tmp.xml
    ..\..\..\xmlbeans\bin\xpretty -indent 2 simfang-tmp.xml > simfang.xml

    rm -f *-tmp.xml
  -->

  <base>C:/var/svn/i18n-zh/trunk/lib/fop/1.x/conf/</base>
  <font-base>C:/var/svn/i18n-zh/trunk/lib/fonts/</font-base>

  <renderers>
    <renderer mime="application/pdf">
      <fonts>
<!--
        <font metrics-url="C:/var/svn/i18n-zh/trunk/lib/fop/1.x/conf/simhei.xml" kerning="yes" embed-url="simhei.ttf">
            <font-triplet name="SimHei" style="normal" weight="normal"/>
        </font>

        <font metrics-url="C:/var/svn/i18n-zh/trunk/lib/fop/1.x/conf/simsun.xml" kerning="yes" embed-url="simsun.ttc">
            <font-triplet name="SimSun" style="normal" weight="normal"/>
        </font>

        <font metrics-url="C:/var/svn/i18n-zh/trunk/lib/fop/1.x/conf/simfang.xml" kerning="yes" embed-url="simfang.ttf">
            <font-triplet name="FangSong" style="normal" weight="normal"/>
        </font>
-->
        <font metrics-url="C:/var/svn/i18n-zh/trunk/lib/fop/1.x/conf/fzcys.xml" kerning="yes" embed-url="fzcys.ttf">
            <font-triplet name="FZCuYaSong" style="normal" weight="normal"/>
        </font>

        <font metrics-url="C:/var/svn/i18n-zh/trunk/lib/fop/1.x/conf/fzbys.xml" kerning="yes" embed-url="fzbys.ttf">
            <font-triplet name="FZBoYaSong" style="normal" weight="normal"/>
        </font>

        <font metrics-url="C:/var/svn/i18n-zh/trunk/lib/fop/1.x/conf/fzfs.xml" kerning="yes" embed-url="fzfs.ttf">
            <font-triplet name="FZFangSong" style="normal" weight="normal"/>
        </font>

        <font metrics-url="C:/var/svn/i18n-zh/trunk/lib/fop/1.x/conf/fzss.xml" kerning="yes" embed-url="fzss.ttf">
            <font-triplet name="FZShuSong" style="normal" weight="normal"/>
        </font>

        <font metrics-url="C:/var/svn/i18n-zh/trunk/lib/fop/1.x/conf/hkht.xml" kerning="yes" embed-url="hkht.ttf">
            <font-triplet name="HuaKangHeiTi" style="normal" weight="normal"/>
        </font>

        <font metrics-url="C:/var/svn/i18n-zh/trunk/lib/fop/1.x/conf/hkst.xml" kerning="yes" embed-url="hkst.ttf">
            <font-triplet name="HuaKangSongTi" style="normal" weight="normal"/>
        </font>

        <font metrics-url="C:/var/svn/i18n-zh/trunk/lib/fop/1.x/conf/hkfs.xml" kerning="yes" embed-url="hkfs.ttf">
            <font-triplet name="HuaKangFangSong" style="normal" weight="normal"/>
        </font>

        <auto-detect/>
      </fonts>
    </renderer>
  </renderers>
</fop>
