<?xml version="1.0" encoding="UTF-8"?>
<fop version="1.0">

  <font-base>/usr/share/fonts/opentype</font-base>
  <font-base>C:/var/svn/i18n-zh/trunk/lib/fonts/</font-base>

  <renderers>
    <renderer mime="application/pdf">
      <fonts>
        <substitutions>
          <substitution>
            <from font-family="Symbol" font-weight="bold"/>
            <to font-family="Symbol"/>
          </substitution>
          <substitution>
            <from font-family="ZapfDingbats" font-weight="bold"/>
            <to font-family="ZapfDingbats"/>
          </substitution>

          <substitution>
            <from font-family="SimHei" font-style="italic"/>
            <to font-family="SimHei"/>
          </substitution>
          <substitution>
            <from font-family="SimHei" font-weight="bold"/>
            <to font-family="SimHei"/>
          </substitution>
          <substitution>
            <from font-family="SimHei" font-style="italic" font-weight="bold"/>
            <to font-family="SimHei"/>
          </substitution>

          <substitution>
            <from font-family="SimSun" font-style="italic"/>
            <to font-family="SimSun"/>
          </substitution>
          <substitution>
            <from font-family="SimSun" font-weight="bold"/>
            <to font-family="SimHei"/>
          </substitution>
          <substitution>
            <from font-family="SimSun" font-style="italic" font-weight="bold"/>
            <to font-family="SimHei"/>
          </substitution>

          <substitution>
            <from font-family="FZCuYaSong" font-style="italic"/>
            <to font-family="FZCuYaSong"/>
          </substitution>
          <substitution>
            <from font-family="FZCuYaSong" font-weight="bold"/>
            <to font-family="FZCuYaSong"/>
          </substitution>
          <substitution>
            <from font-family="FZCuYaSong" font-style="italic" font-weight="bold"/>
            <to font-family="FZCuYaSong"/>
          </substitution>

          <substitution>
            <from font-family="FZBoYaSong" font-style="italic"/>
            <to font-family="FZBoYaSong"/>
          </substitution>
          <substitution>
            <from font-family="FZBoYaSong" font-weight="bold"/>
            <to font-family="FZCuYaSong"/>
          </substitution>
          <substitution>
            <from font-family="FZBoYaSong" font-style="italic" font-weight="bold"/>
            <to font-family="FZCuYaSong"/>
          </substitution>
        </substitutions>
<!--
        <font kerning="yes" embed-url="simhei.ttf">
            <font-triplet name="SimHei" style="normal" weight="normal"/>
        </font>

        <font kerning="yes" embed-url="simsun.ttc" sub-font="SimSun">
            <font-triplet name="SimSun" style="normal" weight="normal"/>
        </font>

        <font kerning="yes" embed-url="simfang.ttf">
            <font-triplet name="FangSong" style="normal" weight="normal"/>
        </font>

        <font kerning="yes" embed-url="fzcys.ttf">
            <font-triplet name="FZCuYaSong" style="normal" weight="normal"/>
        </font>

        <font kerning="yes" embed-url="fzbys.ttf">
            <font-triplet name="FZBoYaSong" style="normal" weight="normal"/>
        </font>

        <font kerning="yes" embed-url="fzfs.ttf">
            <font-triplet name="FZFangSong" style="normal" weight="normal"/>
        </font>

        <font kerning="yes" embed-url="fzss.ttf">
            <font-triplet name="FZShuSong" style="normal" weight="normal"/>
        </font>

        <font kerning="yes" embed-url="hkht.ttf">
            <font-triplet name="HuaKangHeiTi" style="normal" weight="normal"/>
        </font>

        <font kerning="yes" embed-url="hkst.ttf">
            <font-triplet name="HuaKangSongTi" style="normal" weight="normal"/>
        </font>

        <font kerning="yes" embed-url="hkfs.ttf">
            <font-triplet name="HuaKangFangSong" style="normal" weight="normal"/>
        </font>
-->
        <font kerning="yes" embed-url="fzcys.ttf">
            <font-triplet name="FZCuYaSong" style="normal" weight="normal"/>
        </font>

        <font kerning="yes" embed-url="fzbys.ttf">
            <font-triplet name="FZBoYaSong" style="normal" weight="normal"/>
        </font>

        <font kerning="yes" embed-url="fzfs.ttf">
            <font-triplet name="FZFangSong" style="normal" weight="normal"/>
        </font>

        <font kerning="yes" embed-url="hkht.ttf">
            <font-triplet name="HuaKangHeiTi" style="normal" weight="normal"/>
        </font>

        <font kerning="yes" embed-url="hkst.ttf">
            <font-triplet name="HuaKangSongTi" style="normal" weight="normal"/>
        </font>

        <font kerning="yes" embed-url="hkfs.ttf">
            <font-triplet name="HuaKangFangSong" style="normal" weight="normal"/>
        </font>

        <!-- register all the fonts found in this directory and all sub directories -->
        <!--directory recursive="true">/usr/share/fonts</directory-->

        <!-- automatically detect operating system installed fonts -->
        <auto-detect/>
      </fonts>
    </renderer>
  </renderers>
</fop>
