body {
    margin-top: 17px;
    margin-right: 17px;
    margin-bottom: 17px;
    margin-left: 17px;
    background: rgb(255,255,255);
    color: rgb(20,50,20);
    font-family: "Sans-Seirf";
    font-weight: 500;
    font-size: 11pt;
}

A {
    font-family: "Arial";
    font-weight: 900;
    font-size: 10pt;
    color: rgb(20, 100, 20);
    text-decoration: none;
}
A:hover { color: rgb(40, 150, 150); }

P {
    font-family: "Sans-Seirf";
    font-weight: 500;
    font-size: 11pt;
    color: rgb(20,50,20);
    text-decoration: none;
}
		
h1 {
    font-family: "Arial";
    font-weight: 700;
    font-size: 18pt;
    color: rgb(20,50,20);
}


