#
# Please create your build.properties file from this template file.
#
# Please use absolute path, DO NOT use relative path !
#

# Your jars and CatalogManager.properties put here
# usr.share.java=/usr/share/java
usr.share.java=${basedir}/../../../lib/share/java

# po4a.home=/usr/bin
# po4a.lib=/usr/share/perl5
po4a.home=${basedir}/../../../lib/po4a
po4a.lib=${po4a.home}/lib

# Only for Windows
sgml.catalog.files=${basedir}/../../../lib/share/java/catalog.xml

# Only for pdf files(fop 0.95+)
fop.home=${basedir}/../../../lib/fop

# Only for pdf files(xep)
xep.home=${basedir}/../../../lib/xep
