#
# Please create your build.properties file from this template file.
#

#Your jars put here
# usr.share.java = /usr/share/java
usr.share.java = ${basedir}/../../../lib/share/java

# Po4a home
# po4a.home=/usr/bin
# po4a.lib=/usr/share/perl5

po4a.home=D:/var/svn/i18n-zh/trunk/doc/svnbook-1.6/tools/po4a
po4a.lib=${po4a.home}/lib

# Only for Windows
sgml.catalog.files=D:/var/svn/i18n-zh/trunk/lib/share/java/catalog.xml

# Only for pdf files(fop 0.95+)
fop.home=${basedir}/../../../lib/fop

# Only for pdf files(xep)
xep.home=${basedir}/../../../lib/xep