FOP_HOME=/home/dongsheng/var/svn/i18n-zh/trunk/lib/fop

JAVA_SHARE=/home/dongsheng/var/svn/i18n-zh/trunk/lib/share/java

# PO4A_HOME=/usr/bin
# PO4A_LIB=/usr/share/perl5

PO4A_HOME=/home/dongsheng/var/svn/i18n-zh/trunk/lib/po4a
PO4A_LIB=/home/dongsheng/var/svn/i18n-zh/trunk/lib/po4a/lib
