#
# Please create your build.properties file from this template file.
#

docbook5.home=${basedir}/../../lib/docbook/docbook5
docbook.xsl=${basedir}/../../lib/docbook/docbook-xsl

#Your jars put here
# usr.share.java = /usr/share/java
usr.share.java = ${basedir}/../../lib/share/java

# Only for pdf files(xep)
xep.home=${basedir}/../../lib/xep

# Only for pdf files(fop 0.94+)
fop.home=${basedir}/../../lib/fop
fop.class=org.apache.fop.cli.Main

# Only for pdf files(fop)
fop.title.font.family=Arial,Calibri,sans-serif,SimHei
fop.body.font.family=Times New Roman,Cambria,Cambria Math,serif,SimSun
fop.sans.font.family=Arial,Calibri,sans-serif,SimHei
fop.dingbat.font.family=Times New Roman,Cambria,Cambria Math,serif,SimSun
fop.monospace.font.family=Courier New,monospace,FangSong
